{% extends 'base.html' %}

{% block content %}
<div>
    <h1>O nás</h1>
    <p>
        Vítejte na naší stránce 3D Tisku! Jsme tým nadšených tvůrců, kteří milují inovace a kreativitu.
    </p>
    <p>
        Naše platforma umožňuje uživatelům sdílet a stahovat 3D modely pro tisk. Naším cílem je vytvořit komunitu, kde si lidé mohou vyměňovat nápady a podporovat se v realizaci svých projektů.
    </p>
    <h2>Co nabízíme?</h2>
    <ul>
        <li>Platformu pro sdílení souborů</li>
        <li>Možnost spojit se s dalšími členy komunity</li>
        <li>Nejnovější informace a trendy ve světě 3D tisku</li>
    </ul>
    <p>
        Pokud máte otázky nebo zpětnou vazbu, neváhejte nás kontaktovat!
    </p>
</div>
{% endblock %}
