/* static/css/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

.intro-image {
    max-width: 100%;  /* Obrázek se přizpůsobí šířce rodičovského prvku */
    height: auto;     /* Výška se automaticky přizpůsobí proporcím obrázku */
    max-height: 400px; /* Maximální výška obrázku (nastavte podle potřeby) */
}